@model cocycle_admin.Models.DashboardModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue" style="background: #38b8bc!important">
                    <div class="inner">
                        <h3>@Model.TotalRoutes</h3>

                        <p>Routes</p>
                    </div>
                    <div class="icon">
                        <i class="ionicons ion-ios-flag-outline"></i>
                    </div>
                   
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue" style="background: #38b8bc!important">
                    <div class="inner">
                        <h3>@Model.TotalRides<sup style="font-size: 20px"></sup></h3>

                        <p>Total Rides</p>
                    </div>
                    <div class="icon">
                        <i class="ionicons ion-android-bicycle"></i>
                    </div>
                 
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue" style="background: #38b8bc!important">
                    <div class="inner">
                        <h3>@Model.RidesRequested</h3>

                        <p>Request Pending</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box --> 
                <div class="small-box bg-gradient-lightblue" style="background: #38b8bc!important">
                    <div class="inner">
                        <h3>@Model.RidesCompleted</h3>

                        <p>Rides Completed</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                  
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>@Model.RidesArranged</h3>

                        <p>Rides Arranged</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                 
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>@Model.TotalUsers</h3>
                        <p>Total Users</p>
                    </div>
                    <div class="icon">
                        <i class="ionicons ion-ios-people"></i>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>@Model.NoviceUser</h3>
                        <p>Novice User</p>
                    </div>
                    <div class="icon">
                        <i class="ionicons ion-ios-people"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>@Model.CyclistUser</h3>
                        <p>Cyclist User</p>
                    </div>
                    <div class="icon">
                        <i class="ionicons ion-ios-people"></i>
                    </div>
                  
                </div>

            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->